.sortby {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #201e27;
  padding-bottom: 20px;
  .sortbyMore {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 100;
    background-color: #2e2f37;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.4);
    border-radius: 3px;
    padding: 10px 15px;
  }
  .sortbyMoreItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
    &:last-child {
      margin-bottom: 0;
    }
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    span {
      font-size: 20px;
    }
  }
  .moreButton {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 38px;
    height: 25px;
    margin-left: 10px;
    opacity: 0.8;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .sortbyChose {
    display: flex;
    align-items: center;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      opacity: 1;
    }
    img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    span {
      font-size: 20px;
    }
  }
  .active {
    font-weight: 500;
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.2s ease;
    border-radius: 1px;
    &::after {
      content: '';
      position: absolute;
      bottom: -22px;
      right: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      opacity: 1;
      transition: all 0.2s ease;
    }
  }
  .sortbyGenre {
    font-weight: 500;
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    transition: all 0.2s ease;
    border-radius: 1px;
    &::after {
      content: '';
      position: absolute;
      bottom: -22px;
      right: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      opacity: 0;
      transition: all 0.2s ease;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  .sortbyItem {
    margin-right: 20px;
  }
  .sortbyBox {
    display: flex;
    align-items: center;
  }
  .sortbyName {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 15px;
  }
  .moreGenres {
    position: absolute;
    width: 500px;
    top: 70px;
    right: 26%;
    z-index: 200;
    background-color: #2e2f37;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.4);
    padding: 15px;
    border-radius: 3px;
    a {
      margin: 15px;
      &::after {
        bottom: -10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .sortby {
    flex-direction: column;
    .active {
      margin-right: 0;
      margin-bottom: 20px;
      &::after {
        bottom: -10px;
      }
    }
    .sortbyItem {
      margin-top: 20px;
      text-align: center;
    }
    .sortbyChose {
      justify-content: center;
    }
    .sortbyBox {
      justify-content: center;
      flex-direction: column;
    }
    .sortbyMore {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
    .sortbyGenre {
      margin-right: 0 !important;
      margin-bottom: 20px;
      text-align: center;
      &::after {
        bottom: -10px;
      }
    }
    .moreButton {
      margin-left: 0;
    }
    .moreGenres {
      top: 80%;
      left: 50%;
      right: 0;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 578px) {
  .sortby {
    .moreGenres {
      width: 90%;
      a {
        margin-right: 15px !important;
      }
    }
    .sortbyMore {
      width: 65%;
    }
  }
}
